

<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" th:href="@{/styles/estilos.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página con Botones</title>
</head>
<body style="margin: 0; padding: 0; background-image: url('images/bar.jpg'); background-size: cover; background-repeat: no-repeat; display: flex; justify-content: center; align-items: center; height: 100vh;">
	
	<div class="centrado">
        <a href="/pedido" class="botonHome">Hacer pedido</a>
        <a href="/tickets" class="botonHome">Ver tickets</a>
        <a href="/inventario" class="botonHome">Inventario</a>
    </div>

</body>
</html>